html{
    height: 100vh;
}

body{
    color: white;
    background: radial-gradient(#e66465, #9198e5);
    font-size: 50px;

    margin: auto;
    margin-top: 250px;
    max-width: max-content;
}

#count-el{
    width: 100px;
    margin: auto;
    padding-left: 50px;
}

#add-button{
    width: 150px;
    height: 100px;
    font-size: 30px;
    text-align: center;
}

#sub-button{
    width: 150px;
    height: 100px;
    font-size: 30px;
    text-align: center;
    margin-left: 100px;
}